<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sadasd</title>
</head>
<body>
    <form action="/bakwaspage" method="post">
        <button>click me GAGAGAGGAGA</button>
    </form>
    <form action="/sms" method="post">
        <button>click me sms</button>
    </form>
</body>
</html>