<div class="landing">
    <div class="landing-content">
        <h1 class="headline">Robotronics '23</h1>
        <p class="byline">Registration platform for Robotronics '23</p>

        <ul class="countdown">
            <li><p>days</p><span id="days"></span></li>
            <li><p>hrs</p><span id="hrs"></span></li>
            <li><p>mins</p><span id="mins"></span></li>
            <li style="color: #16e16e;"><p>sec</p><span id="secs"></span></li>
        </ul>

        <div class="register-div">
            <button onclick="team()">Manage Teams</button>
        </div>
        <br><br>
            <!-- <button onclick="register('school')">Check - In</button>
        </div>
        <br><br> -->
    </div>
    <img class="illus" src="/illus.svg">
</div>

<script>
    const team = () => {
        window.location.href = '/dashboard/team'
    }
    const invite = () => {
        window.location.href = '/invite'
    }
    const register = (x) => {
        window.location.href = '/register/'+x+'/'
    }
    // const team = () => {
    //     window.location.href = '/login'
    // }

    var countDownDate = new Date("Nov 3, 2023 09:00:00").getTime();
    var x = setInterval(function() {
    var now = new Date().getTime();
    var distance = countDownDate - now;
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    document.getElementById("days").innerHTML = days;
    document.getElementById("hrs").innerHTML = hours;
    document.getElementById("mins").innerHTML = minutes;
    document.getElementById("secs").innerHTML = seconds;
    if (distance < 0) {
        document.getElementById("days").innerHTML = "00";
        document.getElementById("hrs").innerHTML = "00";
        document.getElementById("mins").innerHTML = "00";
        document.getElementById("secs").innerHTML = "00";
    }
}, 1000);
</script>

<style>
    body{
        overflow-x: hidden;
    }

    .countdown{
        margin-left: -.5em;
    }
    .countdown li p {
        margin-left: 1.5em !important;
    }
    .countdown li span{
        margin-left: 2em !important;
    }

    .countdown {
        font-size: 10vw;
    }

    .countdown {
        color: #eee;
        font-size: 1vw;
        font-weight: 500;
        justify-content: space-between;
        display: flex;
        list-style-type: none;
        padding: 1em;
        width: 35vw;
        margin-top: 2.5vw;
    }

    .countdown li {
        text-align: center;
        width: 25em;
        margin-left: -3.5em;
    }
    
    .countdown li p{
        margin-left: 1.5em;
    }

    .landing {
        display: flex;
        margin-top: 5vw;
        align-items: center;
        justify-content: center;
    }

    .illus {
        width: 40vw;
        margin-left: 5vw;
    }

    .landing-content h1 {
        font-size: 5vw;
        letter-spacing: 1px;
        margin-top: 3.5vw;
    }

    .landing-content p {
        font-size: 1.5vw;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 2.5vw;
    }

    .buttons-div {
        margin-top: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .landing button {
        cursor: pointer;
        border: none;
        border-radius: 10px;
        background: #111;
        color: #eee;
        padding: 20px;
        width: 15vw;
        margin-right: 2.5vw;
        font-size: 1.1vw;
    }

    .register-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .register-div button {
        margin-top: 1vw;
        width: 33vw;
    }

    @media screen and (max-width: 768px) {
        .landing {
            display: block;
        }

        .headline {
            font-size: 10vw !important;
            margin-left: 2.5vw;
        }

        .byline {
            margin-left: 2.5vw;
            font-size: 5vw !important;
        }

        .buttons-div {
            display: grid;
        }

        .landing button {
            width: 80vw;
            margin: 2.5vw;
            font-size: 5vw;
        }

        .illus {
            display: none;
        }
    }

    
</style>