<div class="landing">
    <div class="landing-content">
        <h1 class="headline">Robotronics '23</h1>
        <p class="byline">Registration platform for Robotronics '23.</p>
        <div class="buttons-div">
            <button onclick="invite()">Request Invite</button>
            <button onclick="team()">Login</button>
        </div>
        <div class="register-div">
            <button onclick="register('school')">Register School</button>
            <button onclick="register('indi')">Register Independently</button>
        </div>
        <br><br>
    </div>
    <img class="illus" src="/illus.svg">
</div>
<form action="/logout" method="post">
    <button type="submit">LOGOUT</button>
</form>

<script>
    const invite = () => {
        window.location.href = '/invite'
    }
    const register = (x) => {
        window.location.href = '/register/'+x+'/'
    }
    const team = () => {
        window.location.href = '/login'
    }
</script>

<style>
    .landing {
        display: flex;
        margin-top: 5vw;
        align-items: center;
        justify-content: center;
    }

    .illus {
        width: 40vw;
        margin-left: 5vw;
    }

    .landing-content h1 {
        font-size: 5vw;
        letter-spacing: 1px;
        margin-top: 3.5vw;
    }

    .landing-content p {
        font-size: 1.5vw;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 2.5vw;
    }

    .buttons-div {
        margin-top: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .landing button {
        cursor: pointer;
        border: none;
        border-radius: 10px;
        background: #111;
        color: #eee;
        padding: 20px;
        width: 15vw;
        margin-right: 2.5vw;
        font-size: 1.1vw;
    }

    .register-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .register-div button {
        margin-top: 1vw;
        width: 33vw;
    }

    @media screen and (max-width: 768px) {
        .landing {
            display: block;
        }

        .headline {
            font-size: 10vw !important;
            margin-left: 2.5vw;
        }

        .byline {
            margin-left: 2.5vw;
            font-size: 5vw !important;
        }

        .buttons-div {
            display: grid;
        }

        .landing button {
            width: 80vw;
            margin: 2.5vw;
            font-size: 5vw;
        }

        .illus {
            display: none;
        }
    }
</style>