Dear Principal, <br> <br>
Greetings from Amity International School, Sector-46, Gurgaon! <br> <br>
Under the guidance of our Honorable Chairperson Ma’am Dr. (Mrs.) Amita Chauhan, Amity has always nurtured and created a
world where students are encouraged to learn about STEM in an exciting and fun-filled manner. It has also inspired them
to follow varied career options in this field, thereby becoming the technological leaders of tomorrow. <br><br>
We, at Amity, encourage, develop and implement exciting, mentor-based programs that inculcate interest in STEM in the
inquisitive minds of young people and blend it with arts practices, design principles, critique, and innovation. The
students thrive to develop their logical and analytical abilities and meet the challenges of the global,
technology-driven society through innovation, collaboration, and creative problem-solving. <br><br>
Keeping in mind this vision, Tech Syndicate, the technology club of Amity International School, Sector-46, Gurgaon is
organizing the eleventh edition of its annual inter-school event—Robotronics—on the theme “Inclusivity : Tech for all”.
Promoting inclusivity in technology is not just a moral imperative; it's also a smart business decision. By prioritizing
inclusivity in the design, development, and dissemination of technology, we can create a more equitable and prosperous
digital world that truly benefits everyone, leaving no one behind. <br><br>
14 events, across a variety of domains, will be hosted for the students of grades III-XII. The events will be held
online from 20th October to 27th October with the offline finals on 3rd November 2023. For further details, kindly check
the event guide linked below. It gives us immense pleasure to welcome the participation of your school to make this
event a grand success. We look forward to your school’s participation!
<br><br>
Arti Chopra <br>
Principal
<br><br>
<h2>Important Links </h2>
Website: <a href="https://techsyndicate.us/"> https://techsyndicate.us </a> <br>
Register:<a href="https://techsyndicate.us/register"> https://techsyndicate.us/register </a> <br>
Server:<a href="https://techsyndicate.us/server"> https://techsyndicate.us/server </a><br>
Event Guide:<a href="https://techsyndicate.us/guide"> https://techsyndicate.us/guide </a> <br>
WhatsApp:<a href="https://techsyndicate.us/whatsapp"> https://techsyndicate.us/whatsapp </a><br>
Facebook:<a href="https://techsyndicate.us/fb"> https://techsyndicate.us/fb</a><br>
Instagram:<a href="https://techsyndicate.us/insta"> https://techsyndicate.us/insta</a><br>
