Dear Principal, <br> <br>
Greetings from Amity International School, Sector-46, Gurgaon! <br> <br>
Under the guidance of our Honorable Chairperson Ma’am Dr. (Mrs.) Amita Chauhan, Amity has always nurtured and created a
world where students are encouraged to learn about STEM in an exciting and fun-filled manner. It has also inspired them
to follow varied career options in this field, thereby becoming the technological leaders of tomorrow. <br><br>
We, at Amity, encourage, develop and implement exciting, mentor-based programs that inculcate interest in STEM in the
inquisitive minds of young people and blend it with arts practices, design principles, critique, and innovation. The
students thrive to develop their logical and analytical abilities and meet the challenges of the global,
technology-driven society through innovation, collaboration, and creative problem-solving. <br><br>
Keeping in mind this vision, Tech Syndicate, the technology club of Amity International School, Sector-46, Gurgaon is
organizing the tenth edition of its annual inter-school event—Robotronics—on the theme “Accomplishing SDG Goals through
Technology”. Our planet is under threat due to a variety of factors. The United Nations has set forth 17 SDG goals that
are to be accomplished by 2030. To make that a reality, technology must be used effectively and sustainably. <br><br>
14 events, across a variety of domains, will be hosted for the students of grades III-XII. The events will be held
online from 20th October to 30th October with the offline finals on 3rd November 2022. For further details, kindly check
the event guide linked below. It gives us immense pleasure to welcome the participation of your school to make this
event a grand success. We look forward to your school’s participation!
<br><br>
Arti Chopra <br>
Principal
<br><br>
<h2>Important Links </h2>
Website: <a href="https://ts46.club/"> https://techsyndicate.us </a> <br>
Register:<a href="https://ts46.club/register"> https://ts46.club/register </a> <br>
Server:<a href="https://ts46.club/server"> https://ts46.club/server </a><br>
Event Guide:<a href="https://ts46.club/guide"> https://ts46.club/guide </a> <br>
WhatsApp:<a href="https://ts46.club/whatsapp"> https://ts46.club/whatsapp </a><br>
Facebook:<a href="https://ts46.club/fb"> https://ts46.club/fb</a><br>
Instagram:<a href="https://ts46.club/insta"> https://ts46.club/insta</a><br>