<div class="team">
    <div class="teamLogin">
        <div class="schoolLoginForm">
            <h1 style="color:#16e16e;">Login</h1>
            <h2>
                Email
            </h2>
            <input name="email" id="email" type="email" required placeholder="School Email"> <br><br>
            <h2>
                Password
            </h2>
            <input name="password" id="password" type="password" required placeholder="Password">
            <br><br>
            <button id="schLoginBtn" onclick="submitForm()">Login </button>
        </div>
    </div>
</div>

<script>
    var notyf = new Notyf();
    async function submitForm() {
        var schoolEmail = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        if (schoolEmail == "" || password == "") {
            notyf.error("Please fill all the fields");
            return;
        }
        var data = {
            schoolEmail: schoolEmail,
            password: password
        }
        var response = await fetch("/login/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
        var res = await response.json();
        for (var i = 0; i < res.length; i++) {
            if (res[i].sucess) {
                notyf.success(res[i].msg);
                setTimeout(() => {
                    window.location.href = "/login";
                }, 2000);
            } else {
                res.error(data[i].msg);
            }
        }
    }
</script>

<style>
    h2 {
        letter-spacing: 1.45px;
        text-align: left;
        font-weight: 300;
    }

    .team {
        display: flex;
        flex-direction: column;
        color: #eee;
    }

    .teamLogin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
    }

    .teamLogin button {
        background-color: #16e16e;
        color: #111;
        border-radius: 5px;
        font-size: 1.35vw;
        font-weight: 400;
        min-height: 3.5vw;
        cursor: pointer;
        width: 100%;
        border: none;
        margin-top: .5vw;
    }

    input {
        width: 40vw;
        height: 3vw;
        background-color: transparent;
        color: #fff;
        border: 2px solid rgba(255, 255, 255, 0.15);
        font-size: 1.3vw;
        font-weight: 500;
        border-radius: 10px;
        padding: 1.5vw;
    }

    input:focus {
        outline: none;
        border: 2px solid #16e16e;
    }

    h1 {
        font-size: 3.5vw;
        font-weight: 400;
        text-align: left;
        letter-spacing: 1.5px;
    }

    @media(max-width:768px) {
        button {
            width: 90vw !important;
            margin-top: 5vw !important;
            font-size: 6vw !important;
            height: 40px !important;
        }

        .team {
            margin-left: 2.5vw;
        }

        input {
            width: 90vw !important;
            height: 5vw !important;
            font-size: 3.5vw !important;
            padding: 20px !important;
        }

        h1 {
            text-align: left !important;
            font-size: 10vw !important;
            margin-bottom: 5vw;
        }
    }
</style>
