<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .user{
            padding: 5px;
            margin: 2px;
        }
    </style>
    <div class="content">
        <h1>Register</h1>
        <form action="/register" method="POST">
            <label for="schId">School ID:</label>
            <input type="text" id="schId" name="schId" required><br><br>
    
            <label for="schName">School Name:</label>
            <input type="text" id="schName" name="schName" required><br><br>
    
            <label for="creativeparticipant1">Creative Participant 1:</label>
            <input type="text" id="creativeparticipant1" name="creativeparticipant1"><br><br>
    
            <label for="creativeparticipant2">Creative Participant 2:</label>
            <input type="text" id="creativeparticipant2" name="creativeparticipant2"><br><br>
    
            <label for="creativeparticipant3">Creative Participant 3:</label>
            <input type="text" id="creativeparticipant3" name="creativeparticipant3"><br><br>
    
            <label for="creativeparticipant4">Creative Participant 4:</label>
            <input type="text" id="creativeparticipant4" name="creativeparticipant4"><br><br>
    
            <label for="creativeparticipant5">Creative Participant 5:</label>
            <input type="text" id="creativeparticipant5" name="creativeparticipant5"><br><br>
    
            <label for="creativeparticipant6">Creative Participant 6:</label>
            <input type="text" id="creativeparticipant6" name="creativeparticipant6"><br><br>
    
            <label for="crossparticipant1">Cross Participant 1:</label>
            <input type="text" id="crossparticipant1" name="crossparticipant1"><br><br>
    
            <label for="crossparticipant2">Cross Participant 2:</label>
            <input type="text" id="crossparticipant2" name="crossparticipant2"><br><br>
    
            <label for="gdparticipant1">GD Participant 1:</label>
            <input type="text" id="gdparticipant1" name="gdparticipant1"><br><br>
    
            <label for="surpparticipant1">Surp Participant 1:</label>
            <input type="text" id="surpparticipant1" name="surpparticipant1"><br><br>
    
            <label for="surpparticipant2">Surp Participant 2:</label>
            <input type="text" id="surpparticipant2" name="surpparticipant2"><br><br>
    
            <label for="progparticipant1">Prog Participant 1:</label>
            <input type="text" id="progparticipant1" name="progparticipant1"><br><br>
    
            <label for="progparticipant2">Prog Participant 2:</label>
            <input type="text" id="progparticipant2" name="progparticipant2"><br><br>
    
            <label for="filmparticipant1">Film Participant 1:</label>
            <input type="text" id="filmparticipant1" name="filmparticipant1"><br><br>
    
            <label for="filmparticipant2">Film Participant 2:</label>
            <input type="text" id="filmparticipant2" name="filmparticipant2"><br><br>
    
            <label for="filmparticipant3">Film Participant 3:</label>
            <input type="text" id="filmparticipant3" name="filmparticipant3"><br><br>
    
            <label for="filmparticipant4">Film Participant 4:</label>
            <input type="text" id="filmparticipant4" name="filmparticipant4"><br><br>
    
            <label for="gamingparticipant1">Gaming Participant 1:</label>
            <input type="text" id="gamingparticipant1" name="gamingparticipant1"><br><br>
    
            <label for="gamingparticipant2">Gaming Participant 2:</label>
            <input type="text" id="gamingparticipant2" name="gamingparticipant2"><br><br>
    
            <label for="quizparticipant1">Quiz Participant 1:</label>
            <input type="text" id="quizparticipant1" name="quizparticipant1"><br><br>
    
            <label for="roboticsparticipant1">Robotics Participant 1:</label>
            <input type="text" id="roboticsparticipant1" name="roboticsparticipant1"><br><br>
    
            <label for="roboticsparticipant2">Robotics Participant 2:</label>
            <input type="text" id="roboticsparticipant2" name="roboticsparticipant2"><br><br>
    
            <label for="roboticsparticipant3">Robotics Participant 3:</label>
            <input type="text" id="roboticsparticipant3" name="roboticsparticipant3"><br><br>
    
            <label for="photoparticipant1">Photo Participant 1:</label>
            <input type="text" id="photoparticipant1" name="photoparticipant1"><br><br>
    
            <label for="paintparticipant1">Paint Participant 1:</label>
            <input type="text" id="paintparticipant1" name="paintparticipant1"><br><br>
    
            <label for="gamedevparticipant1">Game Dev Participant 1:</label>
            <input type="text" id="gamedevparticipant1" name="gamedevparticipant1"><br><br>
    
            <label for="gamedevparticipant2">Game Dev Participant 2:</label>
            <input type="text" id="gamedevparticipant2" name="gamedevparticipant2"><br><br>
    
            <label for="minecraftparticipant1">Minecraft Participant 1:</label>
            <input type="text" id="minecraftparticipant1" name="minecraftparticipant1"><br><br>
    
            <label for="minecraftparticipant2">Minecraft Participant 2:</label>
            <input type="text" id="minecraftparticipant2" name="minecraftparticipant2"><br><br>
    
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>