<div class="reg">
    <h1>School Registration</h1>
    <div id="regForm" class="regForm">
        <div class="col-1">
            <h3>School Details</h3>
            <input type="text" name="schoolName" placeholder="School Name" required id="schoolName"> <br>
            <input type="link" name="schoolAddress" placeholder="School Address (Google Maps)" required
                id="schoolAddress"> <br>
            <input type="email" name="schoolEmail" placeholder="School Email" required id="schoolEmail"><br>
            <h3>Club Details</h3>
            <input type="text" name="clubName" placeholder="Club Name" id="clubName"><br>
            <input type="email" name="clubEmail" placeholder="Club Email" id="clubEmail"><br>
            <input type="link" name="clubWebsite" placeholder="Club Website" id="clubWebsite"><br>
        </div>
        <div class="col-2">
            <h3>Teacher Incharge Details</h3>
            <input type="text" name="teacherName" placeholder="Teacher Name" id="teacherName" required><br>
            <input type="email" name="teacherEmail" placeholder="Teacher Email" id="teacherEmail" required><br>
            <input type="text" name="teacherPhone" placeholder="Teacher Phone" id="teacherPhone" required><br>
            <h3>Student Incharge Details</h3>
            <input type="text" name="studentName" placeholder="Student Name" id="studentName" required><br>
            <input type="email" name="studentEmail" placeholder="Student Email" id="studentEmail" required><br>
            <input type="text" name="studentPhone" placeholder="Student Phone" id="studentPhone" required><br>
        </div>
    </div>
    <div class="password-phone-fix">
        <div class="col-1">
            <h3>Password</h3>
            <input type="password" name="password" placeholder="Password" required id="password"><br>
        </div>
        <div class="col-2">
            <h3>Confirm Password</h3>
            <input type="password" name="cpassword" placeholder="Confirm Password" required id="cpassword"><br>
        </div>
    </div>
    <div class="buttons-div">
        <button type="submit" id="regButton" onclick="submitForm()">Register</button>
    </div>
</div>

<script>
    var notyf = new Notyf();
    async function submitForm() {
        var schoolName = document.getElementById("schoolName").value;
        var schoolAddress = document.getElementById("schoolAddress").value;
        var schoolEmail = document.getElementById("schoolEmail").value;
        var clubName = document.getElementById("clubName").value;
        var clubEmail = document.getElementById("clubEmail").value;
        var clubWebsite = document.getElementById("clubWebsite").value;
        var teacherName = document.getElementById("teacherName").value;
        var teacherEmail = document.getElementById("teacherEmail").value;
        var teacherPhone = document.getElementById("teacherPhone").value;
        var studentName = document.getElementById("studentName").value;
        var studentEmail = document.getElementById("studentEmail").value;
        var studentPhone = document.getElementById("studentPhone").value;
        var password = document.getElementById("password").value;
        var cpassword = document.getElementById("cpassword").value;

        if (password != cpassword) {
            notyf.error("Passwords do not match");
            return;
        }

        if (schoolName == "" || schoolAddress == "" || schoolEmail == "" || teacherName == "" || teacherEmail == "" || teacherPhone == "" || studentName == "" || studentEmail == "" || studentPhone == "" || password == "" || cpassword == "") {
            notyf.error("Please fill all the fields");
            return;
        }

        if (schoolEmail.indexOf("@") == -1 || schoolEmail.indexOf(".") == -1) {
            notyf.error("Please enter a valid school email");
            return;
        }

        if (teacherEmail.indexOf("@") == -1 || teacherEmail.indexOf(".") == -1) {
            notyf.error("Please enter a valid teacher email");
            return;
        }

        if (studentEmail.indexOf("@") == -1 || studentEmail.indexOf(".") == -1) {
            notyf.error("Please enter a valid student email");
            return;
        }

        if (teacherPhone.length != 10) {
            notyf.error("Please enter a valid teacher phone number");
            return;
        }

        if (studentPhone.length != 10) {
            notyf.error("Please enter a valid student phone number");
            return;
        }

        var data = {
            schoolName: schoolName,
            schoolAddress: schoolAddress,
            schoolEmail: schoolEmail,
            clubName: clubName,
            clubEmail: clubEmail,
            clubWebsite: clubWebsite,
            teacherName: teacherName,
            teacherEmail: teacherEmail,
            teacherPhone: teacherPhone,
            studentName: studentName,
            studentEmail: studentEmail,
            studentPhone: studentPhone,
            password: password,
            cpassword: cpassword
        }

        await fetch('/register/school', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res => res.json()).then((data) => {
            console.log(data)
            for (var i = 0; i < data.length; i++) {
                if (data[i].sucess) {
                    notyf.success(data[i].msg);
                    setTimeout(() => {
                        window.location.href = "/login";
                    }, 2000);
                } else {
                    notyf.error(data[i].msg);
                }
            }
        }
        ).catch((err) => console.log(err));

    }
</script>

<style>
    .password-phone-fix {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .reg {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .regForm {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .col-1,
    .col-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }

    .reg h1 {
        color: #16e16e;
        font-size: 3vw;
        text-align: center;
    }

    .reg input {
        width: 30vw;
        padding: 0.9vw;
        background-color: #000;
        border: 2px solid rgba(255, 255, 255, 0.15);
        color: #eee;
        border-radius: 10px;
        font-size: 1.25vw;
    }

    .reg input:focus {
        outline: none;
        border: 2px solid #16e16e;
    }

    .reg h3 {
        font-size: 2vw;
        font-weight: 400;
    }

    .reg {
        padding-bottom: 5vw;
    }

    .col-1 {
        float: left;
        width: 50%;

    }

    .col-2 {
        float: right;
        width: 50%;

    }

    .reg button {
        background-color: #16e16e;
        color: #111;
        border-radius: 5px;
        font-size: 1.35vw;
        font-weight: 400;
        min-height: 3.5vw;
        cursor: pointer;
        width: 30vw;
        border: none;
        margin-top: 2.5vw;
    }

    .reg button:focus {
        outline: none;
    }

    @media(max-width:768px) {

        .password-phone-fix {
            display: flex;
            width: 85vw;
            flex-direction: column;
            justify-content: space-between;
        }

        h1 {
            text-align: left !important;
            font-size: 10vw !important;
            margin-left: 2.5vw;
            margin-bottom: 5vw;
        }

        .buttons-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        #regButton {
            width: 80vw !important;
            margin-top: 5vw;
            font-size: 4.5vw !important;
            margin-top: 2.5vw !important;
            padding: 15px !important;
        }

        h3 {
            text-align: left !important;
            font-size: 5vw !important;
            margin-left: 2.5vw !important;
            margin-top: 2.5vw !important;
            width: 80vw;
        }

        .regForm {
            flex-direction: column;
            width: 85vw;
        }

        .regForm input,
        .password-phone-fix input {
            width: 80vw !important;
            height: 5vw !important;
            font-size: 3.5vw !important;
            padding: 20px !important;
        }

        .pass-inner {
            flex-direction: column;
        }

        .pass-inner input {
            width: 80vw;
        }

        .password-div {
            width: 85vw;
        }
    }
</style>